/*css样式重置*/
h1,h2,h3,h4,h5,h6,dl,ul,ol,li,p,dd{
    margin: 0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
    color:#666666;
}
a:hover{
    /*字体色*/
    text-decoration:none ;
    color: #666666;
}
body{
    font-size: 14px;
    font-family: "Microsoft Yahei";
    background-color: #fff;
    min-height:750px;
}
/*头部信息开始*/
.header{
    /*背景颜色，高度，*/
    height:100px;
    background-color: #C0061E;
}
.top{
    /*弹性布局，左右对齐，宽度，内边距,居中*/
    display: flex;
    justify-content: space-between;
    width:1000px;
    box-sizing: border-box;
    padding:10px 0;
    margin: 0 auto;
    color:#fff;align-items: center;
}
.top >a{
    /*居中*/
    margin-top: 10px;

}
.top a{
    color:#fff;
}
.main{
    /*背景色，宽度，居中*/
    width:1000px;
    margin: 0 auto;
}
.position{
    /*上下内边距，下边框*/
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #DFDFDF;
}
.windows{
    /*做外边距，引入背景图*/
    padding-left:15px;
    background: url("../images/ico.png") no-repeat 0px -476px;
}
/*头部信息结束*/
/*中间主体内容开始*/
section>p{
    margin:10px 0 10px 0;
    font-size: 18px;
}
.block h4{
    margin:10px 0 0px 0;
    text-align: left;
    color:#626262;
    padding: 3px 0 3px 10px;
}
section>p span{
    color:#205968;
}
/*左侧图及分享到开始*/
.share{
    text-align: right;
    margin-top:10px;
}
.share a{
    /*行内块，宽度，高度，右外边距，引入背景图*/
    display: inline-block;
    width:16px;
    height:16px;
    margin-right:5px;
    margin-bottom: -3px;
}
.share>div.plus{
    /*行内块*/
    display: inline-block;
    /*相对定位*/
    position: relative;
}
.share >a:first-child{
    background: url("../images/icons_0_16.png") no-repeat 0px -1612px;
}
.share >a:nth-child(2){
    background: url("../images/icons_0_16.png") no-repeat 0px -2652px;
}
.share >a:nth-child(3){
    background: url("../images/icons_0_16.png") no-repeat 0px -52px;
}
.share >a:nth-child(4){
    background: url("../images/icons_0_16.png") no-repeat 0px -104px;
}
.share >a:nth-child(5){
    background: url("../images/icons_0_16.png") no-repeat 0px -260px;
}
.share>div.plus>a{
    background: url("../images/icons_0_16.png") no-repeat 0px 0px;
}
div.plus >div{
    /*绝对定位  */
    position: absolute;
    top:-190px;
    left:0px;
    z-index: 1000;
    /*宽度*/
    width:200px;
    /*隐藏*/
    display: none;
}
div.plus:hover div.block{
    /*展现*/
    display:block ;
}
div.plus >div h4{
    /*背景颜色，内边距*/
    background-color: #F6F6F6;
    padding:3px 0 3px 3px;
}
div.plus>div>p{
    /*背景颜色，右对齐*/
    background-color: #F6F6F6;
    padding:3px 0 3px 3px;
    height:20px;
}
div.plus>div>p>a{
    /*有浮动*/
    float:right;
    width:40px;
    /*左内边距，引入背景图*/
    padding-left: 17px;
    background:url("../images/icons_0_16.png") no-repeat 0px 0px;
    line-height: 17px;
}
div.plus >div ul{
    /*弹性布局，宽度高度，允许换行*/
    display: flex;
    min-height: 300px;
    flex-wrap: wrap;
    box-sizing: border-box;
    /*背景颜色*/
    background-color: #fff;
    /*内边距*/
    padding:20px 10px 10px 20px;
}

div.plus >div ul li>a{
    /*字体大小*/
    display: inline-block;
    font-size: 12px;
    width:80px;
    box-sizing: border-box;
    height:25px;
    line-height: 25px;
    /*左内边距，引入背景图*/
    padding-left: 17px;
    /*居中*/
    text-align: center;
}
div.plus >div ul li>a:first-child{
    background: url("../images/icons_0_16.png") no-repeat 0 -2440px;
}
div.plus>div ul li:nth-child(2)>a{
    background: url("../images/icons_0_16.png") no-repeat 0 -48px;
}
div.plus >div ul li:nth-child(3)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -100px;
}
div.plus >div ul li:nth-child(4)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -3066px;
}
div.plus >div ul li:nth-child(5)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -1609px;
}
div.plus >div ul li:nth-child(6)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -204px;
}
div.plus >div ul li:nth-child(7)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -256px;
}
div.plus >div ul li:nth-child(8)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -2544px;
}
div.plus >div ul li:nth-child(9)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -308px;
}
div.plus >div ul li:nth-child(10)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -360px;
}
div.plus >div ul li:nth-child(11)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -723px;
}
div.plus >div ul li:nth-child(12)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -464px;
}
div.plus >div ul li:nth-child(13)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -151px;
}
div.plus >div ul li:nth-child(14)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -2648px;
}
div.plus >div ul li:nth-child(15)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -984px;
}
div.plus >div ul li:nth-child(16)>a{
    background: url("../images/icons_0_16.png") no-repeat 0px -3116px;
}
div.plus >div ul li>a:hover{
    /*背景色，字体色*/
    background-color: #F3F3F3;
    color:#565656;
    border-radius: 3px;
}
/*左侧图及分享到结束*/
/*右侧具体内容开始*/
.details{
    /*上下外边距，弹性布局，两端对齐*/
    display:flex;
    margin-top:10px;
    margin-bottom:15px;
    justify-content: space-between;
    box-sizing: border-box;
}
.content{
    /*高度，*/
    height:380px;
    box-sizing: border-box;
    font-size: 16px;
}
.content p{
    /*字体颜色,下外边距*/
    color:#333333;
    margin-bottom: 25px;
}
.content b{
    /*颜色，大小*/
    color:#FF2737;
    font-size:18px;
}
.content span{
    /*字体颜色，大小，加粗*/
    color:#9B8155;
    font-size:18px;
    font-weight: bold;
}
.content>a{
    /*背景颜色，块级元素，内边距，文本颜色，加粗,高度*/
    display:block;
    background: #C2BDBE;
    width:140px;
    height:40px;
    text-align: center;
    line-height:40px;
    font-weight: 600;
    color:#fff;
    font-size: 16px;
    margin:20px 0 30px 0;
}
.content h1{
    position: relative;
}
.content h1 span{
    position: absolute;
    bottom: 22px;
    right:35px;
    font-size: 14px;
    color:#FF0000;
}
/*右侧具体内容结束*/
/*登录提示信息开始*/
.attention{
    border-top:4px solid #DB314C;
    min-height: 300px;
}
.attention h3{
    margin-top: 20px;
    color:#FF004F;
    text-align: center;
}
/*登录提示信息结束*/
/*中间主体内容结束*/
/*10,关于我们等页脚信息开始*/
.bottom{
    /*宽度，高度，背景色，内边距，文本颜色*/
    min-height:200px;
    background-color: #FFFFFF;
    padding:20px 0 5px 100px;
    box-sizing: border-box;
    color:#666666;
    text-align: center;
}
.bottom a{
    /*文本颜色，去除下划线*/
    color:#666666;
    text-decoration: none;
}
a.police{
    /*引入背景图,左内边距，行内块*/
    display: inline-block;
    padding-left:30px;
    background: url("../images/beian_gov.png") no-repeat;
}
i.baidu{
    /*引入背景图,行内块，宽度高度，左外边距*/
    background: url("../images/21.gif") no-repeat;
    display: inline-block;
    width:20px;
    height:20px;
    margin-left: 5px;
}
.bottom p:nth-child(2) a{
    /*右外边距 */
    margin-right: 5px;
}
.bottom p:nth-child(2) img{
    /*统一高度宽度*/
    width:92px;
    height:33px;
}
.bottom p:nth-child(1){
    /*上下外边距*/
    margin: 20px 0 20px 0;
}
/*10,关于我们等页脚信息结束*/